body{
    background-color: rgb(74, 13, 240);
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(243, 239, 239);
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(12, 201, 248);
}

#poster2{
    background-color: rgb(12, 201, 248);
}

#poster3{
    background-color: rgb(12, 201, 248);
<<<<<<< HEAD
}
=======
}
>>>>>>> 5bd608c9ceb8060a7e1cfd88a49af1dd59f2578f
